**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/dist
**/.env
**/.env.local
**/.env.development
**/.env.production
**/npm-debug.log
**/yarn-error.log
**/*.md
!README.md
!docfx/**/*.md
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
