--
-- PostgreSQL database dump
--

\restrict g4L1FD11G18PlD2OqbamUl2Um47fNtDd2dUbQh3bQKRqo0huM0PRKQyGWTYRj84

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BankAccounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BankAccounts" (
    "Id" uuid NOT NULL,
    "UserId" integer NOT NULL,
    "AccountHolderName" character varying(255) NOT NULL,
    "RoutingNumberEncrypted" bytea NOT NULL,
    "AccountNumberEncrypted" bytea NOT NULL,
    "LastFourDigits" character varying(4) NOT NULL,
    "AccountType" character varying(50) NOT NULL,
    "BankName" character varying(255),
    "IsPrimary" boolean DEFAULT false NOT NULL,
    "IsVerified" boolean DEFAULT false NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "DeletedAt" timestamp with time zone
);


ALTER TABLE public."BankAccounts" OWNER TO postgres;

--
-- Name: BlockchainTransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BlockchainTransactions" (
    "Id" integer NOT NULL,
    "WalletId" integer NOT NULL,
    "UserOpHash" text NOT NULL,
    "TransactionHash" text,
    "FromAddress" text NOT NULL,
    "ToAddress" text NOT NULL,
    "TokenAddress" text NOT NULL,
    "Amount" text NOT NULL,
    "AmountDecimal" numeric NOT NULL,
    "Status" integer NOT NULL,
    "ChainId" integer NOT NULL,
    "TransactionType" text NOT NULL,
    "GasUsed" numeric NOT NULL,
    "IsGasless" boolean NOT NULL,
    "ErrorMessage" text,
    "BlockNumber" bigint,
    "Confirmations" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "SubmittedAt" timestamp with time zone,
    "ConfirmedAt" timestamp with time zone
);


ALTER TABLE public."BlockchainTransactions" OWNER TO postgres;

--
-- Name: BlockchainTransactions_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."BlockchainTransactions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."BlockchainTransactions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ExchangeConnections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExchangeConnections" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "ExchangeName" text NOT NULL,
    "ApiKeyEncrypted" text NOT NULL,
    "ApiSecretEncrypted" text NOT NULL,
    "EncryptionKeyId" text,
    "IsActive" boolean NOT NULL,
    "LastValidatedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "UserId1" integer NOT NULL
);


ALTER TABLE public."ExchangeConnections" OWNER TO postgres;

--
-- Name: InvestmentPositions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InvestmentPositions" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "ExchangeConnectionId" uuid NOT NULL,
    "ExchangeName" text NOT NULL,
    "ExternalPositionId" text,
    "PlanId" text NOT NULL,
    "Asset" text NOT NULL,
    "PrincipalAmount" numeric NOT NULL,
    "CurrentValue" numeric NOT NULL,
    "AccruedRewards" numeric NOT NULL,
    "Apy" numeric NOT NULL,
    "Status" integer NOT NULL,
    "StartDate" timestamp with time zone,
    "EndDate" timestamp with time zone,
    "LastSyncedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "UserId1" integer NOT NULL,
    "ExchangeConnectionId1" uuid NOT NULL
);


ALTER TABLE public."InvestmentPositions" OWNER TO postgres;

--
-- Name: InvestmentTransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InvestmentTransactions" (
    "Id" uuid NOT NULL,
    "InvestmentPositionId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "TransactionType" integer NOT NULL,
    "Amount" numeric NOT NULL,
    "Asset" text NOT NULL,
    "ExternalTransactionId" text,
    "Status" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "InvestmentPositionId1" uuid NOT NULL,
    "UserId1" integer NOT NULL
);


ALTER TABLE public."InvestmentTransactions" OWNER TO postgres;

--
-- Name: PayoutAuditLogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PayoutAuditLogs" (
    "Id" uuid NOT NULL,
    "PayoutTransactionId" uuid NOT NULL,
    "EventType" character varying(100) NOT NULL,
    "PreviousStatus" character varying(50),
    "NewStatus" character varying(50),
    "EventData" jsonb,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."PayoutAuditLogs" OWNER TO postgres;

--
-- Name: PayoutTransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PayoutTransactions" (
    "Id" uuid NOT NULL,
    "UserId" integer NOT NULL,
    "BankAccountId" uuid NOT NULL,
    "GatewayTransactionId" character varying(255),
    "UsdcAmount" numeric(18,6) NOT NULL,
    "UsdAmount" numeric(18,2) NOT NULL,
    "ExchangeRate" numeric(18,6) NOT NULL,
    "ConversionFee" numeric(18,2) NOT NULL,
    "PayoutFee" numeric(18,2) NOT NULL,
    "TotalFees" numeric(18,2) NOT NULL,
    "NetAmount" numeric(18,2) NOT NULL,
    "Status" character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    "FailureReason" text,
    "InitiatedAt" timestamp with time zone NOT NULL,
    "CompletedAt" timestamp with time zone,
    "EstimatedArrival" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."PayoutTransactions" OWNER TO postgres;

--
-- Name: SwapTransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SwapTransactions" (
    "Id" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "WalletAddress" text NOT NULL,
    "FromToken" text NOT NULL,
    "ToToken" text NOT NULL,
    "FromTokenSymbol" text NOT NULL,
    "ToTokenSymbol" text NOT NULL,
    "FromAmount" numeric NOT NULL,
    "ToAmount" numeric NOT NULL,
    "ExchangeRate" numeric NOT NULL,
    "PlatformFee" numeric NOT NULL,
    "PlatformFeePercentage" numeric NOT NULL,
    "GasUsed" text,
    "GasCost" numeric,
    "SlippageTolerance" numeric NOT NULL,
    "PriceImpact" numeric,
    "MinimumReceived" numeric NOT NULL,
    "DexProvider" text NOT NULL,
    "TransactionHash" text,
    "Status" integer NOT NULL,
    "ErrorMessage" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ConfirmedAt" timestamp with time zone,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."SwapTransactions" OWNER TO postgres;

--
-- Name: Transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Transactions" (
    "Id" integer NOT NULL,
    "TransactionId" text,
    "Amount" numeric NOT NULL,
    "Currency" text NOT NULL,
    "Type" text NOT NULL,
    "Status" text NOT NULL,
    "SenderName" text,
    "ReceiverName" text,
    "Description" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CompletedAt" timestamp with time zone
);


ALTER TABLE public."Transactions" OWNER TO postgres;

--
-- Name: Transactions_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Transactions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Transactions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" integer NOT NULL,
    "Username" text NOT NULL,
    "CircleUserId" text,
    "CredentialId" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastLoginAt" timestamp with time zone,
    "WalletAddress" text,
    "CircleWalletId" text
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: Users_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Users" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Wallets" (
    "Id" integer NOT NULL,
    "UserId" integer NOT NULL,
    "Address" text NOT NULL,
    "CircleWalletId" text NOT NULL,
    "Blockchain" text NOT NULL,
    "WalletType" text NOT NULL,
    "Balance" numeric NOT NULL,
    "BalanceCurrency" text NOT NULL,
    "BalanceUpdatedAt" timestamp with time zone,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastActivityAt" timestamp with time zone
);


ALTER TABLE public."Wallets" OWNER TO postgres;

--
-- Name: Wallets_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Wallets" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Wallets_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WebhookDeliveryLogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WebhookDeliveryLogs" (
    "Id" integer NOT NULL,
    "WebhookId" integer NOT NULL,
    "EventName" text NOT NULL,
    "TransactionId" integer NOT NULL,
    "StatusCode" integer NOT NULL,
    "Success" boolean NOT NULL,
    "ResponseBody" text,
    "ErrorMessage" text,
    "Timestamp" timestamp with time zone NOT NULL,
    "AttemptNumber" integer NOT NULL
);


ALTER TABLE public."WebhookDeliveryLogs" OWNER TO postgres;

--
-- Name: WebhookDeliveryLogs_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."WebhookDeliveryLogs" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WebhookDeliveryLogs_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: WebhookRegistrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WebhookRegistrations" (
    "Id" integer NOT NULL,
    "UserId" integer NOT NULL,
    "Url" text NOT NULL,
    "Secret" text NOT NULL,
    "Events" text NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."WebhookRegistrations" OWNER TO postgres;

--
-- Name: WebhookRegistrations_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."WebhookRegistrations" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."WebhookRegistrations_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: BankAccounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BankAccounts" ("Id", "UserId", "AccountHolderName", "RoutingNumberEncrypted", "AccountNumberEncrypted", "LastFourDigits", "AccountType", "BankName", "IsPrimary", "IsVerified", "CreatedAt", "UpdatedAt", "DeletedAt") FROM stdin;
\.


--
-- Data for Name: BlockchainTransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BlockchainTransactions" ("Id", "WalletId", "UserOpHash", "TransactionHash", "FromAddress", "ToAddress", "TokenAddress", "Amount", "AmountDecimal", "Status", "ChainId", "TransactionType", "GasUsed", "IsGasless", "ErrorMessage", "BlockNumber", "Confirmations", "CreatedAt", "SubmittedAt", "ConfirmedAt") FROM stdin;
\.


--
-- Data for Name: ExchangeConnections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ExchangeConnections" ("Id", "UserId", "ExchangeName", "ApiKeyEncrypted", "ApiSecretEncrypted", "EncryptionKeyId", "IsActive", "LastValidatedAt", "CreatedAt", "UpdatedAt", "UserId1") FROM stdin;
\.


--
-- Data for Name: InvestmentPositions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InvestmentPositions" ("Id", "UserId", "ExchangeConnectionId", "ExchangeName", "ExternalPositionId", "PlanId", "Asset", "PrincipalAmount", "CurrentValue", "AccruedRewards", "Apy", "Status", "StartDate", "EndDate", "LastSyncedAt", "CreatedAt", "UpdatedAt", "UserId1", "ExchangeConnectionId1") FROM stdin;
\.


--
-- Data for Name: InvestmentTransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InvestmentTransactions" ("Id", "InvestmentPositionId", "UserId", "TransactionType", "Amount", "Asset", "ExternalTransactionId", "Status", "CreatedAt", "UpdatedAt", "InvestmentPositionId1", "UserId1") FROM stdin;
\.


--
-- Data for Name: PayoutAuditLogs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PayoutAuditLogs" ("Id", "PayoutTransactionId", "EventType", "PreviousStatus", "NewStatus", "EventData", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: PayoutTransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PayoutTransactions" ("Id", "UserId", "BankAccountId", "GatewayTransactionId", "UsdcAmount", "UsdAmount", "ExchangeRate", "ConversionFee", "PayoutFee", "TotalFees", "NetAmount", "Status", "FailureReason", "InitiatedAt", "CompletedAt", "EstimatedArrival", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: SwapTransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SwapTransactions" ("Id", "UserId", "WalletAddress", "FromToken", "ToToken", "FromTokenSymbol", "ToTokenSymbol", "FromAmount", "ToAmount", "ExchangeRate", "PlatformFee", "PlatformFeePercentage", "GasUsed", "GasCost", "SlippageTolerance", "PriceImpact", "MinimumReceived", "DexProvider", "TransactionHash", "Status", "ErrorMessage", "CreatedAt", "ConfirmedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: Transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Users" ("Id", "Username", "CircleUserId", "CredentialId", "CreatedAt", "LastLoginAt", "WalletAddress", "CircleWalletId") FROM stdin;
1	testuser	test-circle-user-id-12345	test-credential-id-67890	2025-11-07 05:21:09.085076+00	2025-11-07 05:46:26.536208+00	0x1234567890123456789012345678901234567890	test-wallet-id-abc123
\.


--
-- Data for Name: Wallets; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Wallets" ("Id", "UserId", "Address", "CircleWalletId", "Blockchain", "WalletType", "Balance", "BalanceCurrency", "BalanceUpdatedAt", "CreatedAt", "LastActivityAt") FROM stdin;
1	1	0x1234567890123456789012345678901234567890	test-wallet-id-abc123	POL-AMOY	EOA	2.05	USDC	2025-11-07 05:22:14.887978+00	2025-11-07 05:21:31.045008+00	\N
\.


--
-- Data for Name: WebhookDeliveryLogs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WebhookDeliveryLogs" ("Id", "WebhookId", "EventName", "TransactionId", "StatusCode", "Success", "ResponseBody", "ErrorMessage", "Timestamp", "AttemptNumber") FROM stdin;
\.


--
-- Data for Name: WebhookRegistrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WebhookRegistrations" ("Id", "UserId", "Url", "Secret", "Events", "IsActive", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20251027064529_InitialCreate	9.0.10
20251027124558_AddUserTable	9.0.10
20251028062441_AddBlockchainTransactions	9.0.10
20251029060839_AddTransactionHistoryIndexes	9.0.10
20251029065739_AddWebhookSupport	9.0.10
20251029213824_AddBankAccountAndPayoutModels	9.0.10
20251103170835_AddCircleWalletId	9.0.10
20251104102304_AddInvestmentInfrastructure	9.0.10
20251105030542_AddSwapTransactions	9.0.10
20251106044828_AddPerformanceIndexes	9.0.10
\.


--
-- Name: BlockchainTransactions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."BlockchainTransactions_Id_seq"', 1, false);


--
-- Name: Transactions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Transactions_Id_seq"', 4, true);


--
-- Name: Users_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Users_Id_seq"', 1, true);


--
-- Name: Wallets_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Wallets_Id_seq"', 1, true);


--
-- Name: WebhookDeliveryLogs_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."WebhookDeliveryLogs_Id_seq"', 1, false);


--
-- Name: WebhookRegistrations_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."WebhookRegistrations_Id_seq"', 1, false);


--
-- Name: BankAccounts PK_BankAccounts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BankAccounts"
    ADD CONSTRAINT "PK_BankAccounts" PRIMARY KEY ("Id");


--
-- Name: BlockchainTransactions PK_BlockchainTransactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlockchainTransactions"
    ADD CONSTRAINT "PK_BlockchainTransactions" PRIMARY KEY ("Id");


--
-- Name: ExchangeConnections PK_ExchangeConnections; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExchangeConnections"
    ADD CONSTRAINT "PK_ExchangeConnections" PRIMARY KEY ("Id");


--
-- Name: InvestmentPositions PK_InvestmentPositions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentPositions"
    ADD CONSTRAINT "PK_InvestmentPositions" PRIMARY KEY ("Id");


--
-- Name: InvestmentTransactions PK_InvestmentTransactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentTransactions"
    ADD CONSTRAINT "PK_InvestmentTransactions" PRIMARY KEY ("Id");


--
-- Name: PayoutAuditLogs PK_PayoutAuditLogs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayoutAuditLogs"
    ADD CONSTRAINT "PK_PayoutAuditLogs" PRIMARY KEY ("Id");


--
-- Name: PayoutTransactions PK_PayoutTransactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayoutTransactions"
    ADD CONSTRAINT "PK_PayoutTransactions" PRIMARY KEY ("Id");


--
-- Name: SwapTransactions PK_SwapTransactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SwapTransactions"
    ADD CONSTRAINT "PK_SwapTransactions" PRIMARY KEY ("Id");


--
-- Name: Transactions PK_Transactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Transactions"
    ADD CONSTRAINT "PK_Transactions" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: Wallets PK_Wallets; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Wallets"
    ADD CONSTRAINT "PK_Wallets" PRIMARY KEY ("Id");


--
-- Name: WebhookDeliveryLogs PK_WebhookDeliveryLogs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WebhookDeliveryLogs"
    ADD CONSTRAINT "PK_WebhookDeliveryLogs" PRIMARY KEY ("Id");


--
-- Name: WebhookRegistrations PK_WebhookRegistrations; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WebhookRegistrations"
    ADD CONSTRAINT "PK_WebhookRegistrations" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_BankAccounts_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BankAccounts_UserId" ON public."BankAccounts" USING btree ("UserId");


--
-- Name: IX_BankAccounts_UserId_IsPrimary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BankAccounts_UserId_IsPrimary" ON public."BankAccounts" USING btree ("UserId", "IsPrimary");


--
-- Name: IX_BlockchainTransactions_AmountDecimal; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_AmountDecimal" ON public."BlockchainTransactions" USING btree ("AmountDecimal");


--
-- Name: IX_BlockchainTransactions_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_CreatedAt" ON public."BlockchainTransactions" USING btree ("CreatedAt");


--
-- Name: IX_BlockchainTransactions_Status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_Status" ON public."BlockchainTransactions" USING btree ("Status");


--
-- Name: IX_BlockchainTransactions_TransactionHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_TransactionHash" ON public."BlockchainTransactions" USING btree ("TransactionHash");


--
-- Name: IX_BlockchainTransactions_UserOpHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_BlockchainTransactions_UserOpHash" ON public."BlockchainTransactions" USING btree ("UserOpHash");


--
-- Name: IX_BlockchainTransactions_WalletId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_WalletId" ON public."BlockchainTransactions" USING btree ("WalletId");


--
-- Name: IX_BlockchainTransactions_WalletId_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_WalletId_CreatedAt" ON public."BlockchainTransactions" USING btree ("WalletId", "CreatedAt");


--
-- Name: IX_BlockchainTransactions_WalletId_Status_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_BlockchainTransactions_WalletId_Status_CreatedAt" ON public."BlockchainTransactions" USING btree ("WalletId", "Status", "CreatedAt");


--
-- Name: IX_ExchangeConnections_IsActive; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExchangeConnections_IsActive" ON public."ExchangeConnections" USING btree ("IsActive");


--
-- Name: IX_ExchangeConnections_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExchangeConnections_UserId" ON public."ExchangeConnections" USING btree ("UserId");


--
-- Name: IX_ExchangeConnections_UserId1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ExchangeConnections_UserId1" ON public."ExchangeConnections" USING btree ("UserId1");


--
-- Name: IX_ExchangeConnections_UserId_ExchangeName; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_ExchangeConnections_UserId_ExchangeName" ON public."ExchangeConnections" USING btree ("UserId", "ExchangeName");


--
-- Name: IX_InvestmentPositions_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_CreatedAt" ON public."InvestmentPositions" USING btree ("CreatedAt");


--
-- Name: IX_InvestmentPositions_ExchangeConnectionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_ExchangeConnectionId" ON public."InvestmentPositions" USING btree ("ExchangeConnectionId");


--
-- Name: IX_InvestmentPositions_ExchangeConnectionId1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_ExchangeConnectionId1" ON public."InvestmentPositions" USING btree ("ExchangeConnectionId1");


--
-- Name: IX_InvestmentPositions_Status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_Status" ON public."InvestmentPositions" USING btree ("Status");


--
-- Name: IX_InvestmentPositions_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_UserId" ON public."InvestmentPositions" USING btree ("UserId");


--
-- Name: IX_InvestmentPositions_UserId1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_UserId1" ON public."InvestmentPositions" USING btree ("UserId1");


--
-- Name: IX_InvestmentPositions_UserId_Status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentPositions_UserId_Status" ON public."InvestmentPositions" USING btree ("UserId", "Status");


--
-- Name: IX_InvestmentTransactions_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentTransactions_CreatedAt" ON public."InvestmentTransactions" USING btree ("CreatedAt");


--
-- Name: IX_InvestmentTransactions_InvestmentPositionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentTransactions_InvestmentPositionId" ON public."InvestmentTransactions" USING btree ("InvestmentPositionId");


--
-- Name: IX_InvestmentTransactions_InvestmentPositionId1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentTransactions_InvestmentPositionId1" ON public."InvestmentTransactions" USING btree ("InvestmentPositionId1");


--
-- Name: IX_InvestmentTransactions_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentTransactions_UserId" ON public."InvestmentTransactions" USING btree ("UserId");


--
-- Name: IX_InvestmentTransactions_UserId1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InvestmentTransactions_UserId1" ON public."InvestmentTransactions" USING btree ("UserId1");


--
-- Name: IX_PayoutAuditLogs_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutAuditLogs_CreatedAt" ON public."PayoutAuditLogs" USING btree ("CreatedAt");


--
-- Name: IX_PayoutAuditLogs_PayoutTransactionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutAuditLogs_PayoutTransactionId" ON public."PayoutAuditLogs" USING btree ("PayoutTransactionId");


--
-- Name: IX_PayoutTransactions_BankAccountId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutTransactions_BankAccountId" ON public."PayoutTransactions" USING btree ("BankAccountId");


--
-- Name: IX_PayoutTransactions_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutTransactions_CreatedAt" ON public."PayoutTransactions" USING btree ("CreatedAt");


--
-- Name: IX_PayoutTransactions_GatewayTransactionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutTransactions_GatewayTransactionId" ON public."PayoutTransactions" USING btree ("GatewayTransactionId");


--
-- Name: IX_PayoutTransactions_Status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutTransactions_Status" ON public."PayoutTransactions" USING btree ("Status");


--
-- Name: IX_PayoutTransactions_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_PayoutTransactions_UserId" ON public."PayoutTransactions" USING btree ("UserId");


--
-- Name: IX_SwapTransactions_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SwapTransactions_CreatedAt" ON public."SwapTransactions" USING btree ("CreatedAt");


--
-- Name: IX_SwapTransactions_Status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SwapTransactions_Status" ON public."SwapTransactions" USING btree ("Status");


--
-- Name: IX_SwapTransactions_TransactionHash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SwapTransactions_TransactionHash" ON public."SwapTransactions" USING btree ("TransactionHash");


--
-- Name: IX_SwapTransactions_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SwapTransactions_UserId" ON public."SwapTransactions" USING btree ("UserId");


--
-- Name: IX_SwapTransactions_UserId_CreatedAt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SwapTransactions_UserId_CreatedAt" ON public."SwapTransactions" USING btree ("UserId", "CreatedAt");


--
-- Name: IX_SwapTransactions_WalletAddress; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_SwapTransactions_WalletAddress" ON public."SwapTransactions" USING btree ("WalletAddress");


--
-- Name: IX_Transactions_Status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Transactions_Status" ON public."Transactions" USING btree ("Status");


--
-- Name: IX_Wallets_Address; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Wallets_Address" ON public."Wallets" USING btree ("Address");


--
-- Name: IX_Wallets_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Wallets_UserId" ON public."Wallets" USING btree ("UserId");


--
-- Name: IX_WebhookDeliveryLogs_Timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WebhookDeliveryLogs_Timestamp" ON public."WebhookDeliveryLogs" USING btree ("Timestamp");


--
-- Name: IX_WebhookDeliveryLogs_TransactionId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WebhookDeliveryLogs_TransactionId" ON public."WebhookDeliveryLogs" USING btree ("TransactionId");


--
-- Name: IX_WebhookDeliveryLogs_WebhookId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WebhookDeliveryLogs_WebhookId" ON public."WebhookDeliveryLogs" USING btree ("WebhookId");


--
-- Name: IX_WebhookRegistrations_IsActive; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WebhookRegistrations_IsActive" ON public."WebhookRegistrations" USING btree ("IsActive");


--
-- Name: IX_WebhookRegistrations_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_WebhookRegistrations_UserId" ON public."WebhookRegistrations" USING btree ("UserId");


--
-- Name: BankAccounts FK_BankAccounts_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BankAccounts"
    ADD CONSTRAINT "FK_BankAccounts_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: BlockchainTransactions FK_BlockchainTransactions_Wallets_WalletId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlockchainTransactions"
    ADD CONSTRAINT "FK_BlockchainTransactions_Wallets_WalletId" FOREIGN KEY ("WalletId") REFERENCES public."Wallets"("Id") ON DELETE CASCADE;


--
-- Name: ExchangeConnections FK_ExchangeConnections_Users_UserId1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExchangeConnections"
    ADD CONSTRAINT "FK_ExchangeConnections_Users_UserId1" FOREIGN KEY ("UserId1") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: InvestmentPositions FK_InvestmentPositions_ExchangeConnections_ExchangeConnectionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentPositions"
    ADD CONSTRAINT "FK_InvestmentPositions_ExchangeConnections_ExchangeConnectionId" FOREIGN KEY ("ExchangeConnectionId") REFERENCES public."ExchangeConnections"("Id") ON DELETE RESTRICT;


--
-- Name: InvestmentPositions FK_InvestmentPositions_ExchangeConnections_ExchangeConnectionI~; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentPositions"
    ADD CONSTRAINT "FK_InvestmentPositions_ExchangeConnections_ExchangeConnectionI~" FOREIGN KEY ("ExchangeConnectionId1") REFERENCES public."ExchangeConnections"("Id") ON DELETE CASCADE;


--
-- Name: InvestmentPositions FK_InvestmentPositions_Users_UserId1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentPositions"
    ADD CONSTRAINT "FK_InvestmentPositions_Users_UserId1" FOREIGN KEY ("UserId1") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: InvestmentTransactions FK_InvestmentTransactions_InvestmentPositions_InvestmentPositi~; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentTransactions"
    ADD CONSTRAINT "FK_InvestmentTransactions_InvestmentPositions_InvestmentPositi~" FOREIGN KEY ("InvestmentPositionId") REFERENCES public."InvestmentPositions"("Id") ON DELETE CASCADE;


--
-- Name: InvestmentTransactions FK_InvestmentTransactions_InvestmentPositions_InvestmentPosit~1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentTransactions"
    ADD CONSTRAINT "FK_InvestmentTransactions_InvestmentPositions_InvestmentPosit~1" FOREIGN KEY ("InvestmentPositionId1") REFERENCES public."InvestmentPositions"("Id") ON DELETE CASCADE;


--
-- Name: InvestmentTransactions FK_InvestmentTransactions_Users_UserId1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InvestmentTransactions"
    ADD CONSTRAINT "FK_InvestmentTransactions_Users_UserId1" FOREIGN KEY ("UserId1") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: PayoutAuditLogs FK_PayoutAuditLogs_PayoutTransactions_PayoutTransactionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayoutAuditLogs"
    ADD CONSTRAINT "FK_PayoutAuditLogs_PayoutTransactions_PayoutTransactionId" FOREIGN KEY ("PayoutTransactionId") REFERENCES public."PayoutTransactions"("Id") ON DELETE CASCADE;


--
-- Name: PayoutTransactions FK_PayoutTransactions_BankAccounts_BankAccountId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayoutTransactions"
    ADD CONSTRAINT "FK_PayoutTransactions_BankAccounts_BankAccountId" FOREIGN KEY ("BankAccountId") REFERENCES public."BankAccounts"("Id") ON DELETE RESTRICT;


--
-- Name: PayoutTransactions FK_PayoutTransactions_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PayoutTransactions"
    ADD CONSTRAINT "FK_PayoutTransactions_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE RESTRICT;


--
-- Name: Wallets FK_Wallets_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Wallets"
    ADD CONSTRAINT "FK_Wallets_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: WebhookDeliveryLogs FK_WebhookDeliveryLogs_BlockchainTransactions_TransactionId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WebhookDeliveryLogs"
    ADD CONSTRAINT "FK_WebhookDeliveryLogs_BlockchainTransactions_TransactionId" FOREIGN KEY ("TransactionId") REFERENCES public."BlockchainTransactions"("Id") ON DELETE RESTRICT;


--
-- Name: WebhookDeliveryLogs FK_WebhookDeliveryLogs_WebhookRegistrations_WebhookId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WebhookDeliveryLogs"
    ADD CONSTRAINT "FK_WebhookDeliveryLogs_WebhookRegistrations_WebhookId" FOREIGN KEY ("WebhookId") REFERENCES public."WebhookRegistrations"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict g4L1FD11G18PlD2OqbamUl2Um47fNtDd2dUbQh3bQKRqo0huM0PRKQyGWTYRj84

